<header>
    <nav>
      <h1 class="text-center">My Images</h1>
      <ul>
        <li><a href="/images">List</a></li>
        <li><a href="/images/slide">Slide</a></li>
        <li><a href="/images/new">Add New</a></li>
      </ul>
    </nav>
  </header>