<header>
  <nav class="nav navbar-dark bg-dark">
    <a class="nav-link" href="/images">LIST</a>
    <a class="nav-link" href="/images/slide">SLIDE</a>
    <a class="nav-link" href="/images/new">ADD NEW IMAGE</a>
  </nav>
  <br>
  <br>
  <hr>
  </header>